html*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    
}
.main-body{
    background-color :rgba(209, 203, 203, 1);
}
.title-box{
    padding: 50px;
    background-color: white;
}
.title-textbox{
    text-align: center;
    font-size: 40px;
}

.car1-card{
    margin: 20px;
    background-color: white;
    width: 40%;
    float: left;
}
.card-container{
    padding-right: 10px;
    margin-right: 10px;
}
img{
    width: 92.8%;
    height: 100%;
    margin: 5px;
    padding: 5px;
}

